.rain {
  background-color: $background-color;
  background-image: url("../dist/../imgs/mehmet-ali-turan-qPcoYUEw1Jk-unsplash.jpg");
}

.fog {
  background-color: $fog-color;
  background-image: url("../dist/../imgs/jaccob-mckay-bmgc2yQib6Q-unsplash.jpg.");
}

.night {
  background-color: $night-color;
  background-image: url("../dist/../imgs/milan-ihl-ZW4QPK9e8_o-unsplash.jpg");
}

.clouds {
  background-color: $background-color;
  background-image: url("../dist/../imgs/sonny-mauricio-kIr8e-01eAw-unsplash.jpg");
}

.snow {
  background-color: $background-color;
  background-image: url("../dist/../imgs/andre-benz-Ygum7h8N4Wk-unsplash.jpg");
}
